{% extends "bootstrap_layout.html" %}
{% set active_page = "index" %}

{% block content %}

<br>
<br>


    <h1>DS Med Cabinet API Cannabis Strain Recommender Home Page</h1>

    <p>{{ message }}</p>

    <br>

    <h4>DS Med Cabinet API Address</h4>

    <a href="https://ds-med-cabinet.herokuapp.com/predict" style="color:#008000"> https://ds-med-cabinet.herokuapp.com/predict</a>

    <br>
    <br>
       
    <h4>API Usage</h4>

    <p>Send a <b>POST or PUT request</b> to <a href="https://ds-med-cabinet.herokuapp.com/predict" class="text-success">https://ds-med-cabinet.herokuapp.com/predict</a> with a json object structured like so:</p>

    </p>
    <div class="p-3 mb-2 bg-dark text-success bg-dark">
    <div class="highlight highlight-source-python">
        <pre class="p-3 mb-2 bg-dark text-warning bg-dark">
        {
        <span class="pl-s">"id"</span>: <span class="pl-s">"420"</span>, 
        <span class="pl-s">"First Name"</span>: <span class="pl-s">"John"</span>, 
        <span class="pl-s">"Last Name"</span>: <span class="pl-s">"Doe"</span>,
        <span class="pl-s">"Desired Effects"</span>: <span class="pl-s">"Uplifed, Happy, Relaxed, Energetic, Creative"</span>
        }</pre>
    </div>
    <p>
        The API response will PUT a JSON object with recommended Strain and Effects to the Med Cabinet Database where it can be retrieved by Med Cabinet members.
    </p>


{% endblock %}